TELEGRAM_BOT_TOKEN=8765230069:AAHJXUs34XR2l-OTfnOivMl47zee2ekmdik
BINGX_API_KEY=cH67YlJtXv9Eem2TKNY9M043GBclQZkR41Nb3Dey2QiN1TkrPdiHmcqQENmj0ffzG0bFKdjcbfg2fTbxImtYA
BINGX_SECRET_KEY=vVFGpScrzqPGE2XMVkvmvsUL5uvNgJrLsBIfwuIzPbZFWq2mF8euRf2hKVDHlIqgsaVj7w2ReaPadqB5z6tw
TELEGRAM_CHAT_ID=8572523119
